<div class="container">
  <div class="row">
    <label for="apiUrl">API URL</label>&nbsp;
    <div class="input-group mb-3">
      <input [(ngModel)]="apiURL" class="form-control" id="apiUrl" type="text" value={{apiURL}}/>&nbsp;&nbsp;
      <button (click)="changeApiUrl()" class="btn btn-primary">Submit</button>
    </div>
    <small><i>{{apiURLFull}}</i></small>
  </div>
  <br/>
  <div class="row">
    <h4>API Response</h4>
  </div>
  <div class="row">
    <div *ngIf="greetings" id="greetings">
      <div class="card-columns">
        <div *ngFor="let greet of greetings" class="card p-3">
          <h5>{{greet.service}}</h5>
          <i>{{greet.message}}</i><br/>
          <small class="text-muted">{{greet.id}}</small>
          <br/>
          <small class="text-muted">{{greet.created | date: 'yyyy-MM-dd HH:mm:ss.SSS'}}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="timingMessage" id="timing">
      {{timingMessage}}
    </div>
  </div>
</div>
