div.container {
  margin-top: 18px;
  /*margin-left: 36px;*/
}

div#greetings {
  margin-top: 18px;
}

div#timing {
  font-size: 14px;
}

li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

small {
  margin-top:-6pt;
  color: gray;
}
