/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 16pt;
}
li {
  margin-bottom: 6px;
}
input {
  width: 200px;
}

label {
  font-size: 10pt;
}
